<div
  class="swiper-mode-controls absolute w-full bottom-0 z-10 px-4 pb-4 text-2xl gradient-botom"
>
  <button mode="strobo" class="btn-mode px-2 hover-light" id="slide">
    Ⓟ
  </button>
  <span class="inline-block">
    <button mode="scroll" class="btn-mode px-2 hover-light" id="scroll">
      Ⓢ
    </button>
    <input
      id="scroll-speed"
      class="range block md:inline"
      type="range"
      value="30"
      min="10"
      max="50"
      step="1"
      name="lineHeight"
    />
  </span>
</div>
