---
layout: default
---

{% for block in page.page_sections %} {% assign template = block.template %} {%
case template %} {% when 'block-text' %} {% include blocks/block-text.html %} {%
when 'block-image' %} {% include blocks/block-image.html %} {% endcase %} {%
endfor %}

<section>
  <div class="max-w-xl text-2xl mx-auto mb-40 px-4 text-block">
    Oh yeah , those young breads
  </div>
</section>
<section>
  <div class="max-w-xl text-2xl mx-auto mb-40 px-4 text-block">
    I just wanted to ... I wanted. How it to say. I just wanted to say, that…
  </div>
</section>
<section>
  <div class="max-w-xl text-2xl mx-auto mb-40 px-4 text-block">
    It is back here again, she is getting bored.
  </div>
</section>
<section>
  <div class="max-w-xl text-2xl mx-auto mb-40 px-4 text-block">
    You and the scythe. Space and time.
  </div>
</section>
<section>
  <div class="max-w-xl text-2xl mx-auto mb-40 px-4 text-block">
    Remember ! We have to become a symbiosis !
  </div>
</section>

<section>
  <div class="max-w-xl text-2xl mx-auto mb-40 px-4 text-block">
    {% include image.html image="veronica-0.jpg" %}
  </div>
</section>
<section>
  <div class="max-w-xl text-2xl mx-auto mb-40 px-4 text-block">
    Smell of dough and moist heat, so I go downstairs to see The Baker. She
    makes all the loaves and raspberry pies we eat in the camp, four meals a
    day, so her life is a series of yeast-based time cycles. She sleeps in the
    kitchen, stacks of VHS cassettes on Rumi and Sufi mysticism next to the
    barrels of flour, dried currants (she used to practice dervish dancing).
    Text Nat Marcus
  </div>
</section>

<section>
  <div class="max-w-xl text-2xl mx-auto mb-40 px-4 text-block">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/x97aa07-GDM"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</section>
<section>
  <div class="max-w-xl text-2xl mx-auto mb-40 px-4 text-block">
    {{ content }}
  </div>
</section>
