---
layout: default
---

{% if page.video %}
<section class="mt-32">
  <iframe
    class="mx-auto"
    width="560"
    height="315"
    src="{{page.video}}"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</section>
{% endif %}
<section class="mt-32">
  <div class="mx-auto pb-4">
    {%- include gallery-images.html -%}
  </div>
</section>
<section class="px-5 py-16 lg:py-24">
  <div class="max-w-lg mx-auto text-lg">{{ page.description }}</div>
</section>
<section>
  {%- include footer.html -%}
</section>
